/* andriod phone dimension */

@media (max-width:349px){
   
/* header */
.preloader__img img{
  height: 200px;
}
header{
    height: 130vh;
}


.links ul li{
        margin-left: 20px;
      }

    /* Iconify-icons */
.iconify{
    width: 1.5em;
  }
  .firstBtn button{
    width: 50px;
    height: 40px;
    margin-right: 10px;
  }
  .firstBtn button .secondBtn {
    font-size: 15px;
  }

  div.homePage-container-one{
    width: 300px;
    height: 650px;
    position: relative;
    top: 100px;
  }

  h1.homePage-container-one-heading{
    font-size: 23px;
  }

  ul.all-nav{
    display: block;
    width: 100%;
    text-align: center;
  }

    /* Blog Section */
    
@media (max-width:349px){

    section#blog{
      display: grid;
      grid-template-columns: auto;
      /* background: #000; */
      height: 300vh;

    }

    .third-section div.blog--container{
     width: 98%;
     height: 300vh;
     /* background-color: red; */
    }

    h1.project-container-title{
        font-size: 35px;
        margin-bottom: 30px;
    }

    .blog--container div.project-container-content{
        display: grid;
        justify-content: center;
        height: 300vh;
        /* background: #000; */
    }

    /* .project-container-content__one.sm-screen-none:nth-child(2){
      display: none;
    }
    .project-container-content__one.sm-screen-none:nth-child(3){
      display: none;
    } */
    .project-container-content__one{
        width: 270px;
        height: 600px;
        margin-left:24px;
        margin-top: 3rem;
        /* background: #000; */
    }

    .project-container-content__one img{
        width: 250px;
    }
    .project-container-content__one h1{
        font-size: 18px;
    }

    .project-container-content__two{
        display: block;
        position:relative;
        bottom: -32px;
    }
    
  }

    /* End of Blog-Section */
}

/* About-section */

@media (max-width:349px){
.project.fourth-section{
  height: 200vh;
  background-color: #252525;
  background-image: none;
  margin-top: 90rem;
}
.fourth-section div.about--container{
    width: 100%;
    height: 180vh;
    position: relative;
    top: 2rem;
 }


.about--container div.project-container-content{
    display: block;
    grid-template-rows: auto auto auto;
    position: relative;
    top: 5rem;
    height: 150vh;
    
}

/* .project-container-content__c1{
  margin-top: 20px;
 } */

div.project-container-content__c2{
    width: 300px;
    height: 500px;
    left:1rem;
    top: 1rem;
    padding-top: 7px;
}
.project-container-content__c3{
    width: 250px;
    bottom: -4rem;
    margin-left:58px;
    display: flex;
    justify-content: center;
}
.project-container-content__c3>img{
    width: 350px;
   }


  }


   /* footer-Section */
   footer > h2{
    font-size: 16px;
   }
   footer h2 span.foot-style{
    font-size: 17px;
   }
   /* End of Section */

   /* Media Query for laptops*/
   @media (max-width:769px) {

     /* Blog Section *
     section#blog{
        height: 120vh;
    }
    project-container-content{
        display: block;
        justify-content: center;
        height: 300vh;
    }
   }